---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Review do Aspirador X" autor="Seu Nome" data="25 de Abril de 2026">
  <p>Este é o melhor aspirador que já testei! Ele tem muita potência e é super silencioso.</p>
  <h3>Por que comprar este modelo?</h3>
  <ul>
    <li>Potência incrível</li>
    <li>Bateria que dura muito</li>
  </ul>
</Layout>